body {
  margin: 0% !important;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background-color: rgba(255, 186, 129, 0.918) !important;
  text-transform: uppercase;
}

a {
  color: #00b7ff;
}

.navbar {
  background-color: darkcyan !important;
  padding: 20px;
}
.table thead {
  background-color: darkcyan !important;
}
.table thead tr th {
  color: white !important;
}
h1 {
  padding-top: 70px;
  padding-left: 520px;
  padding-bottom: 70px;
}

.heading {
  padding-left: 430px;
}

.btn {
  background-color: white !important;
  color: rgb(0, 0, 0) !important;
  font-family: bold;
  border: 2px solid rgb(0, 0, 0) !important;
  margin-right: 30px;
}

.checked {
  color: darkcyan !important;
}
